<div class="page-header">
  <h1>Edit Category
    <div class = "pull-right">
        <%= link_to "Create a New Entry", new_expense_path, :class => "btn btn-primary btn-large" %>
    </div>
  </h1>
</div>

<%= form_for @category do |f| %>
  <p><strong>Name<strong></p>
  <div><%= f.text_field :name %></div>
  <div>
    <%= button_tag(type: "submit", class: "btn btn-large") do %>
      Update Category
    <% end %>
  </div>
<% end %>