<div class = "page-header">
  <h1><small>Daily Entries</small></br>
    <%= Date.today.strftime("%A | %B %d | %Y") %>
    <div class = "pull-right">
      <%= link_to "Create a New Entry", new_expense_path, :class => "btn btn-primary btn-large" %>
    </div>
  </h1>
</div>

<table class = "table">
	<thead>
    <tr>
      <th class = "span2">Date</th>
      <th class = "span7">Category</th>
      <th>Amount</th>
      <th class = "span1"></th>
    </tr>
	</thead>
	<tbody>
  <%= render partial: "expense", collection: @sorted_daily_expenses, as: :expense %>
  <tr class = "info">
    <td class = "span2"><h4>Total</h4></td>
    <td class = "span8"></td>
    <td><h4><%= number_to_currency(Expense.sum_expenses(@sorted_daily_expenses)) %></h4></td>
    <td></td>
  </tr>
</tbody>
</table>

