<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner span6 pull-right">
      <div class="accordion" id="accordion2">
		  <div class="accordion-group">
		    <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
		        <button class = "btn btn-info btn-large"><h3>Create a New Expense<h3></button>
		      </a>
		    </div>
		    <div id="collapseOne" class="accordion-body collapse in">
		      <div class="accordion-inner">
		      </div>
		    </div>
		  </div>
		</div>
      </div>
    </div>
